# Node artifact files
node_modules/
dist/
build/
public/
prisma/
scripts/
htmlfiles/

# Ignore these files:
Dockerfile
.dockerignore
package-lock.json
yarn.lock
.git
.gitignore
README.md
.prettierignore
*.svg
*.ico
*.html
*.png
.env
*.txt
*.yml
*.log
