<html lang="en">
<body style="font-family: Arial, sans-serif; margin: 0; padding: 0; background-color: #F4F4F4;">
    <table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse: collapse; background-color: #FFFFFF; margin: 20px auto;">
        <tr>
            <td style="padding: 20px 0; text-align: center; background-color: #007BFF;">
                <h1 style="color: #FFFFFF;">Flight's Status Detail</h1>
            </td>
        </tr>
        <tr>
            <td style="padding: 20px;">
                <p>Hi <%=CreateEmailMessage_ef88a480_8620_4460_9bb5_93a5c39bc22f.input.firstName%></p>
                <p>Your flight booking's status has been Updated to <%=CreateEmailMessage_ef88a480_8620_4460_9bb5_93a5c39bc22f.input.status%>.</p>
                <p>Thank you for choosing us.</p>
            </td >
        </tr>
	<tr>
		<td style="padding: 20px; text-align: center; background-color: #F4F4F4;">
			<p>&copy; 2023 TAVA All rights reserved.</p>
		</td>
	</tr>
    </table >
</body >
</html >